@model IEnumerable<web_site.Models.Assignment>

@{
    ViewBag.Title = "Assigments";
}

<h2>View</h2>
@Html.ActionLink("API Help", "Index", "Help", new { area = "" }, null)

<table class="table" width="50%" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Task.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task.BeginDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Task.DeadlineDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Task.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.BeginDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Task.DeadlineDateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>

    </tr>
}

</table>
